{% extends "table_view.html" %}
{% block navbar %}
<div>
    <a href='/index'>Home</a>
    <a href='/admin/movie'>Movies</a>
    <a href='/admin/customer'>Customers</a>
    <a href='/admin/showing'>Showings</a>
    <a href='/admin/room'>Rooms</a>
    <a href='/admin/genre'>Genres</a>
</div>
{% endblock %}
{% block before_table %}

    <h2> Add </h2>  
    {% block add %}{% endblock %}

    <h2> Remove </h2>  
    {% block remove %}{% endblock %}

    <h2> Modify </h2>
    {% block modify %}{% endblock %}

    <h2> List </h2>

{% endblock %}
